.Rproj.user
.Rhistory
.RData
.Ruserdata
Check_post-treatment_predictors.Rmd
Check_post-treatment_predictors.nb.html
Check_pre-treatment_predictors.Rmd
Check_pre-treatment_predictors.nb.html
Check_random_slopes.Rmd
Check_random_slopes.nb.html
YA_data.Rproj
YA_data_prelim.Rmd
YA_data_prelim.nb.html
YA_data_simple_anova.Rmd
YA_data_simple_anova.nb.html
data
model_var_int.rds
model_var_int_slope.rds
model_var_post.rds
model_var_pre.rds
